[Desktop Entry]
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=/home/steve/Projects/foxfire/target/debug/foxfire
GenericName[en_US]=
GenericName=
Icon=/home/steve/Projects/foxfire/foxfire.ico
MimeType=
Name[en_US]=Foxfire Photo Viewer
Name=Foxfire Photo Viewer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
